@use  './partials/_variables.scss' as *;
@use  './partials/_mixin.scss' as *;

$fa-font-path: "../webfonts" !default;

@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/regular.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import "~@fortawesome/fontawesome-free/scss/brands.scss";

@import "~bootstrap/scss/bootstrap.scss";

// h1{
//     color: $text-color;
// }
// main{
//     background-image: url('../img/backpage.jpg');
// }
// header {
//     .navbar-nav .nav-link.active {
//         font-weight: bold;
//         color: $text-color;
//     }
// }
// footer{
//     background-image: url('../img/footer-montagne-bottom.jpg');
// }
// #products {
//     .card-img-top {
//         aspect-ratio: 1 / 1.2;
//     }
// }

header{
    .db-container{
        @include db-container;
        height: 100px;
    }

    .db-d-flex{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .db-logo{
        width: 100px;
        img{
            width: 100%;
            padding: 5px;
        }
    }

    ul{
        list-style: none;
        display: flex;
        padding: 0;
        margin: 0;

        li{
            height: 100px;
            margin: 0px 10px;
            text-transform: uppercase;
            &:hover a{
                    color: $accenture;
            }
            &:hover{
                border-bottom: 4px solid $accenture;
            }

            a{
                text-decoration: none;
                color: $darkest;
                font-weight: 900;
                font-size: 12px;
                line-height: 100px;
            }
        }
    }
}

.db-jumbo{
    height: 300px;
    overflow: hidden;
    img{
        width: 100%;
        background-repeat: no-repeat;
    }
}